#botao_voltar {
    /* margin-left: 30%; */
    border-radius: 5px;
    

}

fieldset {
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 30%;
    border-color: rgb(104, 182, 206);
}

#submit{
    margin-top: 10px;
    margin-left: 70%;
    
}

#form{
    margin-left: 5%;
}

label{
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30%;
}